a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 777px;
    padding: 16px;
    background-color: rgba(0, 0, 0, .3);
    background-image: url("../images/kid.png");
    background-repeat: no-repeat;
    background-size: 540px 827px;
    background-position: 80% 0;
    z-index: 10;
}

.container {
    max-width: 1140px;
    height: 73px;
    margin: 0 auto 16px;
    padding: 0 15px;
}

.container.bp {
    max-width: 1140px;
    height: 87px;
    margin: 0 auto;
    padding: 0 15px;
}

.container.bp .menu-warp {
    border-radius: 999px;
    width: 1110px;
    height: 87px;
    padding: 10px 20px;
    background-color: #fff;
}


.container .site-logo {
    float: left;
    width: 129px;
    height: 73px;
    font-size: 2.7rem;
}

.container .site-logo a {
    display: inline-block;
    color: #fff;
    line-height: 73px;
    transition: .3s all ease;
    text-decoration: none;
}

.container .site-logo a .logo-text {
    display: inline-block;
    color: #dc3545;
}

.container .site-quick {
    width: 572px;
    height: 38px;
    float: right;
    margin-top: 18px;
    font-size: 14px;
    color: #fff;
}

.container .site-quick .quick-left {
    float: left;
    width: 252px;
    height: 38px;
    margin-right: 48px;
}

.container .site-quick .quick-right {
    float: left;
    height: 38px;
}

.container .site-quick .quick-left .block-icon {
    float: left;
    width: 18px;
    height: 38px;
    margin-right: 16px;
}

.container .site-quick .quick-left span:nth-child(2) {
    float: left;
    height: 38px;
    width: 218px;
    line-height: 1.3;
}

.container .site-quick .quick-right span:nth-child(2) {
    float: left;
    height: 38px;
    width: 229px;
    line-height: 1.3;
}

.container .site-quick .quick-right .block-icon {
    float: left;
    width: 27px;
    height: 32px;
}

.container .site-quick .block-icon img {
    width: 100%;
    height: 100%;
}

.menu-warp nav {
    float: left;
    width: 521px;
    height: 67px;
}

.menu-warp nav .site-menu {
    width: 100%;
    height: 100%;
}

.menu-warp nav .site-menu li {
    float: left;
    height: 67px;
    line-height: 67px;
    font-size: 16px;
}

.menu-warp nav .site-menu li a {
    display: block;
    text-decoration: none;
    margin: 0 15px;
    color: black;
}

.menu-warp nav .site-menu li:first-child a {
    color: #fd4d40;
}

.menu-warp nav .site-menu li a:active {
    color: #fd4d40;
}

.menu-warp .top-social {
    float: right;
    /*width: 166px;*/
    height: 67px;
}

.menu-warp .top-social a {
    float: left;
    height: 67px;
    padding: 20px;
    text-decoration: none;
}

.menu-warp .top-social a:nth-child(3) span {
    line-height: 29px;
    color: #fdb62f;
}

.col-md {
    margin-top: 48px;
    padding: 48px 15px 0;
    width: 475px;
    height: 351px;
}

.col-md span {
    display: block;
    color: #fd4d40;
    height: 28px;
    font-size: 20px;
    font-weight: 300;
    font-family: "Indie Flower",cursive;
}

.col-md h1 {
    margin-bottom: 16px;
    font-size: 48px;
    width: 100%;
    height: 96px;
    color: #fff;
}

.col-md p {
    margin-bottom: 16px;
    font-size: 18px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #fff;
}

.col-md p a {
    background-color: #dc3545;
}

.col-a {
    display: block;
    border-radius: 30px 0;
    width: 152px;
    height: 69px;
    font-size: 12px;
    letter-spacing: .2rem;
    font-weight: 400;
    text-align: center;
    height: 69px;
    line-height: 69px;
    color: #fff;
}

.col-md p a:hover {
    background-color: #be2634;
}

.col-big {
    width: 1140px;
    margin: 0 auto;
}


